//output:../content/reportLog.html
extends template.jade
block content
    h1 Report Log
    ul.list-group
        li.list-group-item.alert.alert-success
            strong Completed
        li.list-group-item Tree Branch - May 20, 2016
        li.list-group-item Tree Branch - May 20, 2016
        li.list-group-item.alert.alert-warning
            strong In Progress
        li.list-group-item Tree Branch - May 20, 2016
        li.list-group-item Tree Branch - May 20, 2016
        li.list-group-item.alert.alert-danger
            strong Queued
        li.list-group-item Tree Branch - May 20, 2016
        li.list-group-item Tree Branch - May 20, 2016
